# Rahul_Sandireddy (20BCE1001) 
VIT Chennai


# **AI Assignment - 1**


# **Task - 1**

# 1Q, Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [8]:
import pandas as pd
import numpy as np

np.random.seed(42)
data = np.random.randn(4, 4)

df = pd.DataFrame(data)

In [9]:
print(df)

          0         1         2         3
0  0.496714 -0.138264  0.647689  1.523030
1 -0.234153 -0.234137  1.579213  0.767435
2 -0.469474  0.542560 -0.463418 -0.465730
3  0.241962 -1.913280 -1.724918 -0.562288

# **Task 2**

# 2Q, Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [10]:
df.columns =  ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

# **Task 3**

# 3Q, Find the descriptive statistics of the 'df' dataframe.

In [11]:
# Calculate descriptive statistics
statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

# **Task 4**

# 4Q, Check for the null values in 'df' and find the data type of the columns

In [12]:
null_values = df.isnull().sum()
column_types = df.dtypes

In [13]:
print("Null Values:")
print(null_values)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [14]:
print("\nColumn Data Types:")
print(column_types)

Column Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

# **Task -5**

# 5Q, Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [15]:
# Display columns using the location method (loc)
loc_columns = df.loc[:, ['Random value 2', 'Random value 3']]
print("Columns using the location method (loc):")
print(loc_columns)

Columns using the location method (loc):
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918

In [16]:
# Display columns using the index location method (iloc)
iloc_columns = df.iloc[:, [1, 2]]
print("\nColumns using the index location method (iloc):")
print(iloc_columns)

Columns using the index location method (iloc):
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918