# Importing Libraries

In [30]:
import pandas as pd
import numpy as np

# Task 1

In [31]:
rand_values=np.random.rand(4,4)
rand_values

array([[0.77060378, 0.41380355, 0.13368187, 0.02079415],
       [0.71454256, 0.98516562, 0.41975396, 0.75861016],
       [0.26564196, 0.25722831, 0.65168861, 0.63694733],
       [0.07462204, 0.521873  , 0.85690402, 0.34586545]])

In [32]:
df=pd.DataFrame(rand_values)
df

          0         1         2         3
0  0.770604  0.413804  0.133682  0.020794
1  0.714543  0.985166  0.419754  0.758610
2  0.265642  0.257228  0.651689  0.636947
3  0.074622  0.521873  0.856904  0.345865

# Task 2

In [33]:
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.770604        0.413804        0.133682        0.020794
1        0.714543        0.985166        0.419754        0.758610
2        0.265642        0.257228        0.651689        0.636947
3        0.074622        0.521873        0.856904        0.345865

# Task 3

In [34]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.456353        0.544518        0.515507        0.440554
std          0.340345        0.313212        0.310943        0.329087
min          0.074622        0.257228        0.133682        0.020794
25%          0.217887        0.374660        0.348236        0.264598
50%          0.490092        0.467838        0.535721        0.491406
75%          0.728558        0.637696        0.702992        0.667363
max          0.770604        0.985166        0.856904        0.758610

# Task 4

In [35]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [36]:
df.dtypes

Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

# Task 5

In [44]:
df.iloc[:,1:3]

   Random Value 2  Random Value 3
0        0.413804        0.133682
1        0.985166        0.419754
2        0.257228        0.651689
3        0.521873        0.856904

In [46]:
df.loc[:,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0        0.413804        0.133682
1        0.985166        0.419754
2        0.257228        0.651689
3        0.521873        0.856904